keyframes pageFadeIn{
    from{opacity: 0.5; transform:translateY(10px);}
    to{opacity: 1; transform: translateY(0);}
}
body{
    margin: 0;
    animation: pageFadeIn 1.7s ease-in;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px, 50px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color: rgba(255, 248, 220, 0.501);

}
.nav-links{
    display: flex;
    list-style: none;

}
.nav-links li, .logo{
    margin-left: 20px;
    margin-right:20px
}
.nav-links a{
    text-decoration: none;
    color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    transition-duration: 0.5s;
}
.nav-links a:hover{
    font-size: larger;
    transition: 0.2s ease-in;
}
.front{
    position: relative;
    display: flex;
    flex-direction: column;
}
.front #landing{
    max-width: 100%;
    height: 100%;
    display: block;
    filter: brightness(50%);
}
.overlay-text{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 60px;
    text-align: center;
    padding: 10px;
    font-family: cursive;
    width: 70%;
}
.overlay-text p{
    font-size: 26px;
}
.button-home{
    display: flex;
    list-style: none;
    margin: auto;
    width: fit-content;
}
.button-home li{
    margin-left: 20px;
    
}
.button-home a{
    display: inline-block;
    font-size: 17px;
    color: white;
    text-decoration: none;
    border-style: solid;
    background: rgba(66, 65, 63, 0.123);
    padding-inline: 20px;
    padding-block: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    border-radius: 10px;
    transition-duration: 1s;
}
.button-home a:hover{
    font-size: 20px;
    transition: 0.3s ease-in ;
}
.mid{
    background-color: cornsilk;
    text-align: center;
}
.mid h1{
    font-size: 46px;
    padding-top: 20px;
    margin: 20px;
}
.mid .p{
    font-size: 25px;
    margin-bottom: 40px;
}

.carousel{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 35px;
    justify-content: center;
}
.grid-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
    background-color: rgba(66, 65, 63, 0.123);
    border-radius: 30px;
    box-shadow: -10px -6px 10px 7px rgba(0, 0, 0, 0.23), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in;
    transition-duration: .5s;
    position: relative;
    z-index: 1;
}
    
.grid-item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 30px;
}
.grid-item:hover{
box-shadow: 0px -20px 5px 7px rgba(0, 0, 0, 0.23), inset -1px 20px 0px 0px rgba(0, 0, 0, 0.2);    transform: scale(1.05);
    z-index: 10;
}
.grid-item p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
    font-size: 19px;
    padding-inline: 20px;
    margin-top: 0;
}
.grid-item h2{
    margin-bottom: 10px;
}
